@charset "utf-8";

/* skip nav */
.skip-nav {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 9999;
}
.skip-nav li {
  width: 200px;
}
.skip-nav a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #002960;
  text-align: center;
}
.skip-nav a:focus {
  top: 50px;
}
.overflow-hidden-active {
  overflow: hidden;
}

#wrap {
  min-width: 280px;
}

/*****************************************************
       header 다시
******************************************************/
.header-dev {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.header-dev .inner {
  height: 56px;
  padding: 0 20px;
  transition: all 0.5s;
}
.header-dev .h-wrap {
  position: relative;
  height: 100%;
}
.header-dev .h-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 56px;
  padding: 0 20px;
  background: #fff;
  transform: translateY(0);
  transition: transform 0.5s;
}
.header-dev.col-white .h-top {
  background: rgba(0, 0, 0, 0.1);
}
.header-dev.col-white.active .h-top {
  background: #fff;
}
.header-dev .logo {
  display: flex;
  align-items: center;
  width: 230px;
  height: 56px;
  transition: all 0.5s;
}
.header-dev .logo a {
  display: block;
}
.header-dev .logo .ico {
  display: block;
  width: 115px;
  height: 30px;
  background: url(/images/logo.svg) no-repeat 0 0 / 100% 100%;
}
.header-dev.col-white .logo .ico {
  background: url(/images/logo_w.svg) no-repeat 0 0 / 100% 100%;
}
.header-dev.col-white.active .logo .ico {
  background: url(/images/logo.svg) no-repeat 0 0 / 100% 100%;
}
.header-dev.on .logo {
  position: fixed;
  z-index: 200;
}
.header-dev .nav-dev .navbar-dev {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  position: fixed;
  top: 56px;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: calc(100% - 56px);
  padding: 16px 20px 40px;
  background: #fff;
  transition: right 0.3s;
  box-sizing: border-box;
}
.header-dev.active .nav-dev .navbar-dev {
  right: 0;
}

.header-dev .navbar-dev > li > a {
  display: block;
  position: relative;
  padding: 12px 52px 12px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header-dev .navbar-dev > li > a:hover {
  color: #202225;
}
.header-dev .navbar-dev > li.has-sub > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background: url(/images/ico_arw_up_x32.svg) no-repeat 0 0 / 32px;
  transform: rotate(180deg);
}
.header-dev .navbar-dev > li.has-sub.active > a::after {
  transform: rotate(0);
}

.header-dev .navbar-dev > li .sub-menu {
  display: none;
}
.header-dev .navbar-dev > li.has-sub.active > a + .sub-menu {
  height: auto;
}
.header-dev .navbar-dev > li .sub-menu li a {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08px;
}
.header-dev .navbar-dev > li .sub-menu li a:hover {
  color: #202225;
}
.m-menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99;
}
.toggle-menu {
  height: 23px;
  width: 23px;
  position: relative;
}
.toggle-menu .menu-line,
.toggle-menu:before,
.toggle-menu:after {
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  top: 8px;
  background-color: #fff;
}
.toggle-menu:before,
.toggle-menu:after {
  content: "";
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
.toggle-menu:before {
  transform: translate3d(0, -8px, 0px);
  -webkit-transform: translate3d(0, -8px, 0px);
}
.toggle-menu:after {
  transform: translate3d(0, 8px, 0px);
  -webkit-transform: translate3d(0, 8px, 0px);
}
.toggle-menu.on .menu-line {
  opacity: 0;
}
.toggle-menu.on::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  width: 23px;
  margin-left: 0;
  background-color: #252525;
}
.toggle-menu.on::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  background-color: #252525;
}
@media screen and (min-width: 1024px) {
  /* header */
  .m-menu {
    display: none;
  }
  .header-dev {
    height: 80px;
    background: #fff;
    transition: all 0.2s;
  }
  .header-dev.col-white {
    background: rgba(0, 0, 0, 0.1);
  }
  .header-dev .inner {
    height: 80px;
    padding: 0 40px;
  }
  .header-dev .h-top {
    position: initial;
    height: auto;
    padding: 0;
    transform: none;
    transition: none;
  }
  .header-dev .logo {
    position: absolute;
    width: 183px;
    height: 80px;
    z-index: 110;
  }
  .header-dev .logo .ico {
    width: 183px;
    height: 32px;
  }

  .header-dev .nav-dev {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header-dev .nav-dev .navbar-dev {
    overflow-y: unset;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    position: initial;
    height: auto;
    padding: 0;
    background: transparent;
  }
  .header-dev .navbar-dev > li {
    position: relative;
    height: 100%;
    transition: all 0.3s ease;
  }
  .header-dev .navbar-dev > li:last-child {
    padding-right: 0;
  }
  .header-dev .navbar-dev > li .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 62px;
    left: 1vw;
    overflow: hidden;
    visibility: hidden;
    width: 140px;
    padding: 12px 8px;
    border-radius: 16px;
    border: 1px solid #dbdee1;
    background: #fff;
  }
  .header-dev .navbar-dev > li.has-sub > a.active + .sub-menu {
    height: 0;
  }
  .header-dev .navbar-dev > li > a {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 10px;
    color: #202225;
    opacity: 0.8;
  }
  .header-dev.col-white .navbar-dev > li > a {
    color: #fff;
  }
  .header-dev.col-white .navbar-dev > li > a:hover {
    color: #fff;
  }
  .header-dev .navbar-dev > li.has-sub > a::after {
    display: none;
  }

  .header-dev .navbar-dev > li .sub-menu li a {
    padding: 12px;
    font-size: 16px;
    color: #202225;
    opacity: 0.8;
  }
  .header-dev .navbar-dev > li .sub-menu li a:hover {
    border-radius: 8px;
    background: #f3f6ff;
    font-weight: 700;
    color: #202225;
    opacity: 1;
  }
  .header-dev .navbar-dev > li > a.focused + .sub-menu a:focus {
    border-radius: 8px;
    background: #f3f6ff;
    font-weight: 700;
    color: #202225;
    opacity: 1;
  }
  .header-dev .navbar-dev > li:hover > a {
    opacity: 1;
  }
  .header-dev .navbar-dev > li.has-sub:hover > a + .sub-menu {
    overflow: visible;
    visibility: visible;
    height: auto !important;
    max-height: unset !important;
  }

  .header-dev .navbar-dev > li > a.focused {
    opacity: 1;
  }
  .header-dev .navbar-dev > li.has-sub > a.focused + .sub-menu {
    overflow: visible;
    visibility: visible;
    height: auto !important;
    max-height: unset !important;
  }

  .header-dev.scrolled {
    height: 64px;
    background: rgba(0, 0, 0, 0.5);
  }
  .header-dev.scrolled .inner {
    height: 64px;
  }
  .header-dev.scrolled .logo {
    height: 64px;
  }
  /* .header-dev.scrolled .logo .ico {
    height: 64px;
  } */

  .header-dev.scrolled .navbar-dev > li > a {
    height: 64px;
  }
  .header-dev.scrolled .navbar-dev > li .sub-menu {
    top: 50px;
  }
}

/* sub */
.sub-container {
  padding-top: 80px;
}

/* footer */
#footer {
  background-color: #fff;
  border-top: 1px solid var(--color-gray9);
  padding: 50px 0;
  box-sizing: border-box;
}
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.f-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
.f-info li {
  position: relative;
  font-family: "NanumSquareNeoExtraBold";
  font-weight: 700;
}
.f-info li + li {
  margin-left: 10px;
  padding-left: 10px;
}
.f-info li + li:before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
.f-info li a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.f-info li a:hover {
  color: var(--color-blue1);
}

.f-contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray6);
  width: 80%;
}
.f-contact li {
  position: relative;
}
.f-contact li + li {
  margin-left: 6px;
  padding-left: 6px;
}
.f-contact li + li:before {
  content: "/";
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translateY(-50%);
}

.f-copyright {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray6);
  margin-top: 24px;
}

.f-outer-link {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}
.f-family-site {
  height: 28px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.f-family-site.active:before {
  display: block;
  content: "";
  left: 0;
  right: 0;
  bottom: 100%;
  height: 10px;
  position: absolute;
}
.f-family-site button {
  height: 28px;
  line-height: 28px;
  text-align: left;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.f-family-site button:after {
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #36363d;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 16px;
  transition: transform 0.3s;
  background-size: 10px 10px;
}
.f-family-site button:hover:after {
  background-color: var(--color-blue1);
}
.f-family-site button i {
  position: absolute;
  top: 50%;
  right: 8px;
  z-index: 9;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  transition: transform 0.3s;
  display: block;
}
.f-family-site.active button i {
  transform: translateY(-50%) rotate(45deg);
}
.family-site-list {
  position: absolute;
  right: 0;
  bottom: calc(100% + 10px);
  box-sizing: border-box;
  z-index: 11;
  display: none;
}
.family-site-list ul {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.family-site-list a {
  height: 32px;
  font-size: 14px;
  padding: 0 20px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.family-site-list a:hover {
  color: var(--color-blue1);
  font-weight: 700;
  background-color: var(--color-blue4);
}

.f-family-site.active button:after {
  transform: rotate(45deg);
  background-color: var(--color-blue1);
}
.f-family-site.active .family-site-list {
  display: block;
}
.f-family-site.service {
  margin-left: 40px;
}
.f-family-site.family .family-site-list {
  width: 180px;
}
.f-family-site.service .family-site-list {
  width: 200px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}
.size-4 {
  width: 16px;
  height: 16px;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

/* sub ******************************************************************* */

/* mobile ******************************************************************* */

@media all and (max-width: 1360px) {
  .footer-inner {
    margin: 0 80px;
  }
}

@media all and (max-width: 1240px) {
  #footer {
    padding: 32px 0 48px;
  }
  .f-info {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .f-contact {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
  }
  .f-copyright {
    font-size: 13px;
  }
  .f-outer-link {
    position: relative;
    left: initial;
    top: initial;
    display: block;
    margin: 40px 0 20px;
  }
  .f-sns {
    position: relative;
    margin-top: 32px;
  }

  .f-site-group {
    position: relative;
  }
  .f-family-site {
    position: initial;
  }
  .f-family-site button {
    font-size: 14px;
  }
  .f-family-site .family-site-list {
    left: 0;
    width: auto !important;
    max-width: 200px;
  }
  .family-site-list ul {
    padding: 20px 0;
  }
  .family-site-list a {
    height: 34px;
  }
}

@media all and (max-width: 1024px) {
  .header-inner {
    margin: 0 20px;
  }
  .footer-inner {
    margin: 0 20px;
  }
  .sub-section > .inner {
    margin: 0 20px;
  }

  .btn-menu {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .f-info {
    flex-flow: column;
    align-items: flex-start;
  }
  .f-info li + li {
    margin-left: 0;
    padding: 0;
  }
  .f-info li + li:before {
    display: none;
  }

  .f-contact {
    flex-flow: column;
    align-items: flex-start;
  }
  .f-contact li + li {
    margin-left: 0;
    padding: 0;
  }
  .f-contact li + li:before {
    display: none;
  }
}
