@charset "utf-8";

/*sub 공통*/
.sub-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.sub-top-wrap {
  /* overflow: hidden; */
  position: relative;
}
.sub-top-wrap .sub-top {
  height: 430px;
}
.sub-top-wrap .badge-type-title {
  position: relative;
  width: 100%;
  height: 100%;
}
.badge-type-title .badge {
  position: absolute;
  bottom: -18px;
  padding: 4px 26px;
  background-color: #0049b4;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  border-radius: 20px;
}
.text-blue {
  color: #0049b4;
}
.text-green {
  color: #00ae53;
}
.sub-section {
  padding: 60px 0 120px;
}
.sub-title-wrap {
  position: relative;
}
.sub-title-wrap h3 {
  font-size: 52px;
  line-height: 1.1;
  padding-bottom: 12px;
}
.sub-title-wrap .ko-info {
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 20px;
}
.sub-title-wrap .en-inco {
  font-size: 18px;
  line-height: 1.4;
}
.sub-title-wrap .go-home {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
}
.business-wrap {
  margin-top: 56px;
}
.business-list-wrap {
  gap: 16px;
}
.business-list-wrap li {
  width: 100%;
}
.business-list-wrap li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #fff;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}
.business-list-wrap li a img {
  position: relative;
  z-index: 8;
  width: 100%;
}
.business-list-wrap li a:hover .business-hover,
.business-list-wrap li.current a .business-hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.business-hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.3s;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0.4;
}
.business-hover span {
  text-decoration: underline;
}
.business-hover p {
  font-size: 24px;
  padding-top: 8px;
}
.business-section {
  margin-top: 56px;
  text-align: center;
}
.bs-section-title b {
  font-size: 68px;
}
.bs-section-title .bs-title {
  font-size: 28px;
}
.bs-section-title .bs-title small {
  font-size: 0.57em;
}
.bs-title-info {
  font-weight: bold;
  font-size: 20px;
}
.bs-img {
  margin: 56px 0;
  width: 100%;
  height: 390px;
}

.bs-sub-text {
  font-size: 22px;
}
.bs-sub-text .en-sub {
  line-height: 1.2;
  padding: 8px 0 24px;
}
.bs-sub-text .ko-sub {
  font-weight: bold;
  font-size: 0.8em;
}
.bs-icon-wrap {
  margin-top: 56px;
}
.bs-icon-wrap.flex {
  flex-wrap: wrap;
}
.bs-icon-wrap li {
  padding: 24px 0;
  gap: 16px;
}
.bs-icon-img {
  height: 120px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.bs-icon-img img {
  max-height: 100%;
}
.bs-icon-wrap span {
  text-transform: uppercase;
  display: inline-block;
  width: 60%;
  text-align: center;
  color: #0049b4;
  padding-top: 24px;
  line-height: 1.3;
  white-space: nowrap;
}

/********************************************
  비즈니스
*********************************************/
/*sub top 이미지*/
.sub-top-wrap.business {
  background: transparent url(../images/sub-banner-business.png) no-repeat 50% 0 /
    cover;
}
.bs-icon-wrap.flex.ad li {
  width: 20%;
}
.bs-icon-wrap.flex.bpo li {
  width: calc(100% / 6);
}
.bs-icon-wrap.flex.contents li {
  width: 20%;
}
.bs-img.ad {
  background: url(../images/sub-business-01.png) no-repeat center center/cover;
}
.bs-img.bpo {
  background: url(../images/sub-business-02.png) no-repeat center center/cover;
}
.bs-img.contents {
  background: url(../images/sub-business-03.png) no-repeat center center/cover;
}
.bs-img.logistics {
  background: url(../images/sub-business-04.png) no-repeat center center/cover;
}
.bs-img.analysis {
  background: url(../images/sub-business-05.png) no-repeat center center/cover;
}
.bs-img.solution {
  background: url(../images/sub-business-06.png) no-repeat center center/cover;
}

/********************************************
  브랜드
*********************************************/
.sub-top-wrap.brand {
  background: transparent url(../images/sub-banner-brand.png) no-repeat center 0 /
    cover;
}
.sales-wrap {
  padding: 72px 0;
}
.sales-wrap .side-wrap {
  width: 15%;
  position: sticky;
}
.sales-wrap .side-wrap h4 {
  padding-top: 16px;
  font-size: 32px;
  text-decoration: underline;
}
.sales-wrap .sales-list-wrap {
  width: 85%;
}
.sales-list.flex {
  flex-wrap: wrap;
  justify-content: end;
  gap: 16px 0;
}
.logo-img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  transition: all 0.3s;
}
.logo-img img {
  max-width: 50%;
  max-height: 50%;
}
.sales-list li {
  margin-left: -1px;
  max-width: 50%;
}
.sales-list li > a .brand-img {
  overflow: hidden;
}
.sales-list li > a .brand-img img {
  transition: all 0.6s;
  max-width: 100%;
}
.sales-list li > a:hover .brand-img img {
  transform: scale(1.1);
}
.sales-list li > a:hover .logo-img {
  opacity: 1;
}

/********************************************
  컴퍼니
*********************************************/
.sub-top-wrap.company {
  background: transparent url(../images/sub-banner-company.png) no-repeat 50% 0 /
    cover;
}
.sub-top-wrap.company + .sub-section {
  padding-bottom: 0;
}

.company-video {
  margin-top: 72px;
  text-align: center;
  background-image: linear-gradient(to top, #f6f6f6 50%, #fff 50%);
}
.company-video a {
  display: inline-block;
  max-width: 1200px;
}
.company-video a:hover .play-btn {
  opacity: 1;
}
.company-video a > img {
  width: 100%;
}
.company-video .play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: all 0.3s;
}
.company-text-wrap {
  background: #f6f6f6;
  padding: 64px 0;
}
.company-text-wrap .company-sub-text {
  text-align: center;
}
.company-sub-text .en-title {
  font-size: 26px;
}
.company-sub-text .neo-800 {
  font-size: 24px;
}
.company-sub-text .ko-sub {
  padding: 24px 0;
  font-size: 18px;
}
.company-text-wrap .grid {
  margin: 64px 0;
  padding: 32px 0;
  gap: 48px 0;
}
.company-text-wrap ul .no {
  width: 100px;
  height: 100px;
  border: 1px dashed #0049b4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-text-wrap ul .no .no-text {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0049b4;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
}
.company-text-wrap .text-wrap {
  padding-left: 24px;
  padding-top: 16px;
  max-width: calc(100% - 124px);
}
.company-text-wrap .text-wrap .neo-800 {
  font-size: 22px;
}
.company-text-wrap .text-wrap .en-300 {
  font-size: 18px;
}
.company-text-wrap .text-wrap .ko-info {
  padding-top: 16px;
  font-size: 15px;
}
.achievement-wrap {
  padding: 120px 0;
}
.achive-title {
  margin-bottom: 54px;
}
.achive-title h3 {
  font-size: 62px;
}
.swiper-control-btn {
  gap: 0 12px;
}
.swiper-control-btn button {
  width: 42px;
  height: 42px;
  border: 1px solid #252525;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: all 0.3s;
}
.swiper-control-btn button:hover {
  opacity: 1;
}

.achieve-item .img-wrap {
  height: 350px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.achieve-item .award-text {
  padding-top: 24px;
  text-align: center;
  font-size: 18px;
}
.achieve-item .award-text span {
  font-size: 0.7em;
  font-weight: bold;
  color: #808080;
}

.best-choice-wrap {
  background: url(/images/company-bg.png) no-repeat 50% 0 / cover;
  padding: 60px 0;
  color: #fff;
}
.best-title {
  text-align: center;
  padding-top: 60px;
}
.best-title .en-600 {
  font-size: 28px;
}
.best-title .neo-700 {
  font-size: 24px;
}
.best-ko-info {
  color: #a4c5f6;
  padding: 32px 0;
}
.best-ko-info .emp {
  color: #fff;
}
.best-choice-wrap ul.flex {
  gap: 0 16px;
  margin: 36px 0;
  text-align: center;
  overflow-x: auto;
}
.best-choice-wrap ul.flex .best-info {
  padding: 16px 0;
  font-weight: bold;
}
.best-choice-wrap ul.flex .best-info span {
  color: #a4c5f6;
  font-size: 0.9em;
}
.best-choice-wrap ul.flex .best-info p {
  padding-top: 8px;
}

/********************************************
  컴퍼니1
*********************************************/
.identity-wrap {
  padding: 72px 0;
}
.identity-section {
  margin-bottom: 62px;
}
h3.sub-sub-title {
  font-size: 36px;
  padding-bottom: 16px;
}
.corporate-logo {
  background: #f6f6f6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 52px 36px;
}
.corporate-logo img {
  max-width: 100%;
}
.vision-wrap {
  background-color: #f6f6f6;
}
.identity-section .grid-cols-2 {
  gap: 16px;
  grid-template-rows: repeat(2, 1fr);
}
.subsidiary {
  border: 1px solid #252525;
  padding: 56px;
  display: flex;
  flex-flow: column;
}
.subsidiary-img img {
  max-width: 100%;
}
.subsidiary-text {
  margin-top: auto;
}
.subsidiary-nm {
  padding: 48px 0 16px;
}
.subsidiary-nm strong {
  font-size: 18px;
}
.subsidiary-nm a {
  font-size: 0.8em;
  padding-left: 16px;
}
.subsidiary-info li {
  display: flex;
  padding: 2px 0;
}
.subsidiary-info li strong {
  display: inline-block;
  padding-right: 16px;
}
.cnc-group-wrap {
  padding-top: 28px;
  border-bottom: 2px solid #1a1a1a;
}
.cnc-group-wrap > li {
  padding: 24px 0;
  border-bottom: 1px solid #1a1a1a;
}
.cnc-group-wrap > li > div {
  width: 40%;
}
.cnc-group-wrap > li > div h4 {
  font-size: 18px;
}
.cnc-group-wrap > li > div span {
  font-size: 0.8em;
}
.cnc-group-company-info li:last-child {
  padding-top: 4px;
}
.cnc-group-company-info li strong {
  display: inline-block;
  padding-right: 16px;
}
.vision-wrap {
  padding: 72px 0;
}
.vison-box-wrap {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 32px 0;
}
.vision-title {
  width: 200px;
  height: 200px;
  background-color: #0049b4;
  color: #fff;
  border-radius: 50%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
.vision-title:after {
  content: "";
  display: block;
  width: 5px;
  height: 16px;
  background-color: #0049b4;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.squre-wrap {
  position: relative;
  display: inline-block;
  padding: 16px 72px;
  margin-top: 56px;
}
.squre-wrap:before,
.squre-wrap:after {
  display: block;
  position: absolute;
  transform: translateY(-50%);
  font-size: 92px;
  color: #0049b4;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  top: 50%;
}
.squre-wrap:before {
  content: "[";
  left: 0;
}
.squre-wrap:after {
  content: "]";
  right: 0;
}

.slogan .squre-wrap:before,
.slogan .squre-wrap:after {
  color: #00ae53;
}
.slogan.vison-box-wrap .vision-title,
.slogan.vison-box-wrap .vision-title:after {
  background-color: #00ae53;
}
.vision-box p {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 5px;
}
.vision-box p.en-700 {
  font-size: 28px;
}
.vision-box span:not(.en-400) {
  font-weight: 900;
}
.slogan-list {
  position: relative;
  gap: 16px;
  padding: 32px;
}
.slogan-list:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url(/images/company-cnc-bg.png) no-repeat center
    center / auto 50%;
}
.slogan-list > div {
  background-color: #00ae53;
  color: #fff;
  border-radius: 60px;
  padding: 48px 16px;
  text-align: center;
}
.slogan-list > div:nth-child(2n) {
  background-color: #0049b4;
}
.slogan-list > div:nth-child(1) {
  border-bottom-right-radius: 0;
}
.slogan-list > div:nth-child(2) {
  border-bottom-left-radius: 0;
}
.slogan-list > div:nth-child(3) {
  border-top-right-radius: 0;
}
.slogan-list > div:nth-child(4) {
  border-top-left-radius: 0;
}
.slogan-list > div > strong {
  display: block;
  text-align: center;
  font-size: 20px;
  padding-bottom: 16px;
}
/********************************************
  컨택트
*********************************************/
.sub-top-wrap.contact {
  background: transparent url(../images/sub-banner-contact.png) no-repeat 50% 0 /
    cover;
}
.sub-top-wrap.contact + .sub-section {
  padding-bottom: 0;
}
.contact-wrap {
  margin-top: 120px;
}
.map-wrap {
  overflow: hidden;
  width: 100%;
  height: 570px;
  background: #fff url(../images/temp-map.png) no-repeat 50% 50% / auto 100%;
}
.map-wrap img {
  max-width: 100%;
}
.contact {
  background-image: linear-gradient(to right, #f6f6f6 40%, #fff 60%);
}
.contact-cnc {
  background: #f6f6f6;
  width: 40%;
  box-sizing: border-box;
  padding: 72px 0px;
}
.contact-cnc strong {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 1.1;
  display: block;
  padding-bottom: 86px;
}
.width-img {
  top: 170px;
}
.cnc-logo {
  max-width: 260px;
}
.contact-info {
  background: #fff;
  padding: 80px 0 80px 80px;
  box-sizing: border-box;
}
.cnc-office {
  padding: 40px 0;
}
.office-address {
  font-size: 18px;
  padding: 6px 0 4px;
}
.cnc-office .en-400 {
  line-height: 1.2;
}
.tel-info li {
  padding: 8px 0;
}
.tel-info li b {
  font-size: 18px;
}
.tel-info li:not(:last-child) {
  letter-spacing: 1px;
}
.tel-info li b .text-blue {
  display: inline-block;
  padding-right: 16px;
}
/********************************************
  recruit
*********************************************/
.recruit + .sub-section {
  padding-bottom: 0;
}
.sub-top-wrap.recruit {
  background: transparent url(../images/sub-banner-recruite.png) no-repeat 50% 0 /
    cover;
}
.core-wrap {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 72px 0;
}
.value-wrap {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.value-wrap .squre-wrap p {
  font-size: 22px;
  line-height: 1;
}
.value-wrap .squre-wrap strong {
  display: block;
  font-size: 1.1em;
}
.value-wrap .squre-wrap span.text-blue {
  font-weight: 900;
  display: inline-block;
  padding-top: 12px;
  font-size: 22px;
}
.value-wrap .squre-wrap:before,
.value-wrap .squre-wrap:after {
  font-size: 110px;
}
.value-text {
  margin: 16px 0;
  padding: 18px 12%;
  background-color: #00a950;
  color: #fff;
  border-radius: 50px;
  width: 112%;
  margin-left: -6%;
  box-sizing: border-box;
}
.value-text p {
  font-size: 18px;
}
.value-text p span {
  display: block;
}
.value-wrap:nth-child(2) .value-text {
  background-color: #0049b4;
  mix-blend-mode: multiply;
}
.value-info {
  padding: 32px 0 56px;
}
.value-info li {
  font-weight: 600;
  text-align: center;
  width: 65%;
  padding: 3px 0;
  margin: 0 auto;
  font-size: 15px;
}
.value-hash {
  margin-top: auto;
}

.work-wrap {
  background-color: #f6f6f6;
  padding: 72px 0;
  margin-top: 72px;
}
.environment-wrap > li {
  padding: 16px 0;
}
.environment-wrap .work-no {
  width: 100px;
  height: 100px;
  border: 1px dashed #0049b4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.environment-wrap .work-no .no-text {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0049b4;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
}
.work-title {
  padding: 24px 32px;
  display: flex;
  flex-flow: column;
  font-size: 22px;
  min-width: 280px;
}
.work-title span {
  font-size: 0.8em;
}
.work-info {
  padding: 16px 0;
}
.work-info dl {
  padding: 16px 0;
}
.work-info dt {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 4px;
}

@media all and (max-width: 1360px) {
  .sub-inner {
    margin: 0 80px;
  }
  .bs-icon-wrap.flex.bpo li {
    width: 33.333%;
  }
  .company-video a {
    margin: 0 20px;
  }
}
@media all and (max-width: 1024px) {
  .sub-inner {
    margin: 0 20px;
  }
  .business-wrap {
    margin-top: 42px;
  }
  .business-list-wrap.grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .bs-icon-wrap.flex.contents li {
    width: 50%;
  }
  .sub-title-wrap .en-inco br {
    display: none;
  }
  /*brand*/
  .sales-wrap.flex {
    flex-flow: column;
    padding-top: 54px;
  }
  .sales-wrap .side-wrap,
  .sales-wrap .sales-list-wrap {
    width: 100%;
  }
  /*contact*/
  .contact {
    background-image: linear-gradient(to bottom, #f6f6f6 50%, #fff 50%);
  }
  .contact .sub-inner.flex {
    flex-flow: column;
  }
  .contact-cnc {
    padding: 120px 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-cnc strong {
    font-size: 42px;
    display: inline-block;
    padding-bottom: 0;
  }
  .width-img {
    position: unset;
    transform: none;
    max-width: 100px;
    margin-left: -30px;
  }
  .cnc-logo {
    padding-left: 25px;
  }
  .contact-info {
    padding: 26px 40px;
  }
  .cnc-office:first-child {
    padding-top: 0;
  }
  .company-text-wrap .grid-cols-2 {
    gap: 48px 16px;
    grid-template-columns: repeat(1, 1fr);
  }

  .company-text-wrap .text-wrap .ko-info br,
  .company-sub-text br {
    display: none;
  }
  .company-sub-text .ko-sub {
    width: 60%;
    margin: 0 auto;
  }
  .achive-title h3 {
    font-size: 38px;
  }
  /*company1*/
  .subsidiary {
    padding: 32px;
  }
  .subsidiary-img {
    width: 60%;
  }
  .subsidiary-nm a {
    display: block;
    padding: 0;
  }
  .slogan-list {
    padding: 32px 0;
  }
}
@media all and (max-width: 768px) {
  .sub-title-wrap .go-home {
    display: none;
  }
  .sub-section {
    padding-top: 40px;
  }
  .sub-title-wrap h3 {
    font-size: 36px;
  }
  .sub-title-wrap .ko-info {
    font-size: 16px;
  }
  .bs-icon-wrap.flex.ad li {
    width: 33.333%;
  }

  .bs-sub-text br {
    display: none;
  }
  .business-list-wrap li a {
    border-radius: 28px;
  }
  .sub-top-wrap.brand {
    background-position: center right 35%;
  }
  .contact-cnc {
    flex-flow: column;
    align-items: flex-start;
  }
  .office-address {
    font-size: 16px;
  }
  /*company*/
  .company-text-wrap .grid {
    margin-top: 32px;
  }
  .company-video .play-btn img {
    width: 84px;
  }
  .achive-title.flex {
    flex-flow: column;
    gap: 16px 0;
  }
  .achieve-item .img-wrap {
    height: 300px;
  }
  .company-sub-text .ko-sub {
    width: 90%;
    margin: 0 auto;
  }
  /*company1*/
  h3.sub-sub-title {
    font-size: 28px;
  }

  .corporate-logo img {
    max-width: 40%;
  }
  .subsidiary-img {
    width: 40%;
  }
  .identity-section .grid-cols-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cnc-group-wrap > li {
    flex-flow: column;
    gap: 16px 0;
  }
  .cnc-group-wrap > li > div {
    width: 100%;
  }
  .squre-wrap {
    margin-top: 38px;
  }
  .vision-title {
    width: 150px;
    height: 150px;
    font-size: 22px;
  }
  .vision-box p {
    font-size: 16px;
  }
  .vision-box p.en-700 {
    font-size: 26px;
  }
  .vision-box span:not(.en-400) {
    font-size: 14px;
  }
  .vision-box span:not(.en-400) br {
    display: none;
  }
  .slogan-list.grid-cols-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .slogan-list:after {
    background-size: 50% auto;
  }
  .slogan-list > div {
    padding: 32px 16px;
    border-radius: 40px;
  }
  .slogan-list > div > strong {
    font-size: 18px;
    padding-bottom: 8px;
  }
}
@media all and (max-width: 560px) {
  .business-list-wrap {
    gap: 12px;
  }
  .business-list-wrap li a {
    border-radius: 16px;
  }
  .business-hover span {
    font-size: 14px;
  }
  .business-hover p {
    font-size: 20px;
    padding-top: 0;
  }
  .bs-section-title .bs-title small {
    display: block;
  }
  .bs-section-title b {
    font-size: 48px;
  }
  .bs-img {
    margin: 42px 0;
  }
  .sales-list li {
    max-width: 100%;
    margin-left: 0;
  }
}
@media all and (max-width: 460px) {
  .bs-icon-wrap.flex.ad li,
  .bs-icon-wrap.flex.bpo li {
    width: 50%;
  }

  .bs-sub-text .ko-sub br {
    display: none;
  }
}
